<header class="header_section">
  <div class="container">
    <nav class="navbar navbar-expand-lg custom_nav-container">
      <a class="navbar-brand" href="/">
        <span class="brand-shesh">Shesh</span><span class="brand-ams">Am's</span><span class="brand-bakers">Bakers</span>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class=""></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item {% if page.url == '/' %}active{% endif %}">
            <a class="nav-link" href="/">Home {% if page.url == '/' %}<span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          <li class="nav-item {% if page.url == '/menu/' %}active{% endif %}">
            <a class="nav-link" href="/menu/">Menu {% if page.url == '/menu/' %}<span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          <li class="nav-item {% if page.url == '/about/' %}active{% endif %}">
            <a class="nav-link" href="/about/">About {% if page.url == '/about/' %}<span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          <li class="nav-item {% if page.url == '/contact/' %}active{% endif %}">
            <a class="nav-link" href="/contact/">Contact {% if page.url == '/contact/' %}<span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          <li class="nav-item {% if page.url == '/gallery/' %}active{% endif %}">
            <a class="nav-link" href="/gallery/">Gallery {% if page.url == '/gallery/' %}<span class="sr-only">(current)</span>{% endif %}</a>
          </li>
        </ul>
        <div class="user_option">
          <a href="https://wa.me/14438582646" class="user_link" title="WhatsApp">
            <i class="fa-brands fa-whatsapp" aria-hidden="true"></i>
          </a>
          <form class="form-inline">
            <button class="btn my-2 my-sm-0 nav_search-btn" type="submit">
              <i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
            </button>
          </form>
        </div>
      </div>
    </nav>
  </div>
</header>
