---
title: Custom Cakes & Desserts Menu - Sheshams Bakers Baltimore
layout: base.njk
description: Browse our menu of custom vegetarian & eggless cakes, cupcakes, tresletches, and fondant creations. Available in Baltimore, Owings Mills, Maryland.
permalink: /menu/
---

{% include "menu.njk" %}
