---
title: Our Menu - Sheshams Bakers
layout: base.njk
description: Browse our full menu of custom cakes, cupcakes, tresletches, fondant creations and specialty desserts. 100% Vegetarian & Eggless.
permalink: /menu/
---

{% include "menu.njk" %}
